//Colors
$color-primary: #1F818C;
$color-primary-soft: #62A7AF;
$color-secondary: #EffA5D;
$color-secondary-soft70: #F4fC8D;
$color-secondary-soft60: #F5FC9E;


//Color text
$text-primary: #000000;
$text-secondary: #ffffff;

//Color background
$color-bg: #ffffff;

//Color button
$color-button:#62A7AF;
$color-button-secondary:#F4fC8D;

//Sizes
$font-size-h1: 38px;
$font-size-h2: 30px;
$font-size-h3: 22px;

$font-size-body: 16px;
$font-size-small: 14px;

$navbar-font-size: 16px;

//Family & weight
$font-title: 'Open Sans', sans-serif;
$font-title-weight-bold: 700;
$font-title-weight-semibold: 600;

$font-subtitle: 'Roboto', sans-serif;
$font-subtitle-weight-bold: 700;
$font-subtitle-weight: 500;

$font-body: 'Open Sans Pro', sans-serif;
$font-body-weight-bold: 700;
$font-body-weight: 400;

$shadow: 0px 5px 15px rgba(0,0,0,.2);