@use '../base/variables' as *;
@use '../base/mixins' as *;

.notes {

    &__list {
        display: flex;
        flex-wrap: wrap;
        overflow:hidden;
        padding:3em;

        &-element {
            display: flex;
            flex: 1;
            padding: 20px;
            margin: 10px;
            justify-content: center;

        }

        &-link {
            @include box (300px, 300px);
            text-decoration:none;
            color: $color-primary;
            background:$color-secondary-soft60;
            display:block;
            padding:1em;
            display: inline-block;
            /* Firefox */
            -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
            /* Safari+Chrome */
            -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            /* Opera */
            box-shadow: 5px 5px 7px rgba(33,33,33,.7);

            &:hover, &:focus {
                -moz-box-shadow:10px 10px 7px rgb(69, 72, 28);
                -webkit-box-shadow: 10px 10px 7px rgb(69, 72, 28);
                box-shadow:10px 10px 7px rgb(69, 72, 28);
                -webkit-transform: scale(1.15);
                -moz-transform: scale(1.15);
                -o-transform: scale(1.15);
                position:relative;
                z-index:5;
            }
        }

        &-title {
            @include font($color-primary, $font-size-h3, $font-subtitle-weight, $font-subtitle);
            overflow: auto;
        }

        &-text {
            @include font ($color-primary, $font-size-body, $font-body-weight, $font-body);
            max-height: 225px;
            overflow: auto;
            word-wrap: break-word;
            white-space: pre-wrap;
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: #1F818C rgba(0, 0, 0, 0.1);
        }
    }
}